timestamp=2015-07-18 21:43:50
version=1
assembly=f9e522ea-a153-4476-85bc-4704daffb475;famsvanstrom.se, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
f9e522ea-a153-4476-85bc-4704daffb475=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.AccountMembershipService
f9e522ea-a153-4476-85bc-4704daffb475=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.FormsAuthenticationService
f9e522ea-a153-4476-85bc-4704daffb475=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.FreeFormRegistration
f9e522ea-a153-4476-85bc-4704daffb475=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.PermissionDeniedHandler
f9e522ea-a153-4476-85bc-4704daffb475=System.Object[N2.Engine.ServiceAttribute];Dinamico.Dinamico.Registrations.StartPageRegistration
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;Dinamico.Models.PageModelBase
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;Dinamico.Models.ContentPage
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;Dinamico.Models.PartModelBase
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;Dinamico.Models.ContentPart
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;Dinamico.Models.FreeForm
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;Dinamico.Models.LanguageIntersection
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;Dinamico.Models.StartPage
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;famsvanstrom.se.Models.Pages.GamePage
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;famsvanstrom.se.Models.Pages.DevicesPageModel
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;famsvanstrom.se.Models.Pages.GamesPage
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;famsvanstrom.se.Models.Pages.SsnTestPage
f9e522ea-a153-4476-85bc-4704daffb475=N2.ContentItem;famsvanstrom.se.Models.Partials.WeatherPartialModel
f9e522ea-a153-4476-85bc-4704daffb475=N2.Plugin.IPluginInitializer;famsvanstrom.se.App_Start.CmsConfig
f9e522ea-a153-4476-85bc-4704daffb475=N2.Plugin.IPluginInitializer;Dinamico.GlobalMvcStarter
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;famsvanstrom.se.Dinamico.Controllers.ClockController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.ContentPagesController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.ContentPartsController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.SlideshowController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;famsvanstrom.se.Dinamico.Controllers.DevicesPageController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.FallbackController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.FreeFormController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;famsvanstrom.se.Dinamico.Controllers.GameController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;famsvanstrom.se.Dinamico.Controllers.GamesController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.LanguageIntersectionController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.MembershipController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;famsvanstrom.se.Dinamico.Controllers.SsnTestController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.StartPageController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;Dinamico.Controllers.TestController
f9e522ea-a153-4476-85bc-4704daffb475=System.Web.Mvc.IController;famsvanstrom.se.Dinamico.Controllers.WeatherController
f9e522ea-a153-4476-85bc-4704daffb475=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];Dinamico.Registrations.RecursiveZonesAdapter
f9e522ea-a153-4476-85bc-4704daffb475=System.Object[N2.Plugin.IPlugin];none
assembly=16ecdd1d-0e81-4ed1-98ba-c760d62d539d;N2, Version=2.7.0.0, Culture=neutral, PublicKeyToken=null
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ContentFlagSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ContentMessageSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ManagementFlagCollector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Collaboration.ManagementMessageCollector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.LinqNHQueryFacade
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.ApplicationCache`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.SessionCache`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlRepository`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlContentRepository
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlFileSystem
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.XmlInstallationManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Xml.LinqXmlQueryFacade
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlSanitizer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.TemplateAggregator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContentHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextBuilder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ContextHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InterfaceBuilder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.InMemoryProfileRepository
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Management.Api.ProfileHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.SlugGenerator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Logger`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentIndexer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.BackwardsCompatibleSearcher
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingContentSearcher
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Slug
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Authenticated
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Anonymous
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.Manager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.Detectors.MobileDevice
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Targeting.TargetingRadar
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.NHInstallationManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.ContentItem;N2.ContentItem
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.ContentItem;N2.Persistence.Xml.UnresolvedRelation
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.ContentItem;N2.Edit.CreatorItem
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
16ecdd1d-0e81-4ed1-98ba-c760d62d539d=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=4098f037-7c4f-4d7c-bde5-10997488f504;N2.Extensions, Version=2.6.3.8, Culture=neutral, PublicKeyToken=null
4098f037-7c4f-4d7c-bde5-10997488f504=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
4098f037-7c4f-4d7c-bde5-10997488f504=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
4098f037-7c4f-4d7c-bde5-10997488f504=N2.ContentItem;none
4098f037-7c4f-4d7c-bde5-10997488f504=N2.Plugin.IPluginInitializer;none
4098f037-7c4f-4d7c-bde5-10997488f504=System.Web.Mvc.IController;none
4098f037-7c4f-4d7c-bde5-10997488f504=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.MvcAdapter
4098f037-7c4f-4d7c-bde5-10997488f504=System.Object[N2.Plugin.IPlugin];none
assembly=32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b;N2.Management, Version=2.6.3.8, Culture=neutral, PublicKeyToken=null
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildGroupSource
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystem.Pages.ImageSizeCache
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UpdateFilePrefixMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.ConvertEnumsMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixZoneNamePartsMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RebuildImageSizesMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Installation.Migrations.RecordedAssemblyVersionMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Security.ContentProfileRepository
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Security.MembershipAccountManager
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Security.MembershipAccountResources
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Resources.IconHandler
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Content.Navigation.ChildGroupContainer
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Externals.ExternalItem
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.FileSystem.Items.File
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.ManagementItem
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Security.Items.UserExternalLoginInfo
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Security.Items.User
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Security.Items.UserList
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.RootPartBase
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.ActivityPart
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.LanguagesPart
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.RootBase
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.StatisticsPart
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Management.Myself.WizardsPart
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Files.FileSystem.Pages.FileSystemNodeAdapter
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Management.ManagementItemsNodeAdapter
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Activity.RecentActivity
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.ListRoles
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.New
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
32b3a447-0e6d-4c43-9cf9-6cb8a5b62b7b=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
assembly=bbb21d62-cc88-4077-ba71-18be401660bb;N2.Packaging, Version=2.6.3.8, Culture=neutral, PublicKeyToken=null
bbb21d62-cc88-4077-ba71-18be401660bb=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
bbb21d62-cc88-4077-ba71-18be401660bb=N2.ContentItem;none
bbb21d62-cc88-4077-ba71-18be401660bb=N2.Plugin.IPluginInitializer;none
bbb21d62-cc88-4077-ba71-18be401660bb=System.Web.Mvc.IController;none
bbb21d62-cc88-4077-ba71-18be401660bb=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
bbb21d62-cc88-4077-ba71-18be401660bb=System.Object[N2.Plugin.IPlugin];none
assembly=6f3b1731-048e-471d-a719-16c4a32166e9;N2.Razor, Version=2.7.0.0, Culture=neutral, PublicKeyToken=null
6f3b1731-048e-471d-a719-16c4a32166e9=System.Object[N2.Engine.ServiceAttribute];none
6f3b1731-048e-471d-a719-16c4a32166e9=N2.ContentItem;none
6f3b1731-048e-471d-a719-16c4a32166e9=N2.Plugin.IPluginInitializer;none
6f3b1731-048e-471d-a719-16c4a32166e9=System.Web.Mvc.IController;none
6f3b1731-048e-471d-a719-16c4a32166e9=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
6f3b1731-048e-471d-a719-16c4a32166e9=System.Object[N2.Plugin.IPlugin];none
assembly=742e60ea-8596-4e79-a1e0-8a67199edc7b;N2.ReusableParts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
742e60ea-8596-4e79-a1e0-8a67199edc7b=System.Object[N2.Engine.ServiceAttribute];none
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.ContentListContainerLink
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.ContentList
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.ReusableParts.HtmlAnchor
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.MenuPartBase
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.MenuPart
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.RawHtml
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.ResponsiveMenuPart
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.Slideshow
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.SlideshowDirectoryInclude
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.ContentItem;N2.Web.SlideshowFileInclude
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.Plugin.IPluginInitializer;none
742e60ea-8596-4e79-a1e0-8a67199edc7b=System.Web.Mvc.IController;none
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Mvc.ContentListAdapter
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.ReusableParts.HtmlAnchorAdapter
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.MenuPartMvcAdapter
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RawHtmlAdapter
742e60ea-8596-4e79-a1e0-8a67199edc7b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.ResponsiveMenuPartMvcAdapter
742e60ea-8596-4e79-a1e0-8a67199edc7b=System.Object[N2.Plugin.IPlugin];none
assembly=f206cccd-5059-4ac6-947b-ef2521ca3675;N2.Search.Lucene, Version=2.6.3.8, Culture=neutral, PublicKeyToken=null
f206cccd-5059-4ac6-947b-ef2521ca3675=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneLightweightSearcher
f206cccd-5059-4ac6-947b-ef2521ca3675=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
f206cccd-5059-4ac6-947b-ef2521ca3675=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
f206cccd-5059-4ac6-947b-ef2521ca3675=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneContentSearcher
f206cccd-5059-4ac6-947b-ef2521ca3675=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
f206cccd-5059-4ac6-947b-ef2521ca3675=N2.ContentItem;none
f206cccd-5059-4ac6-947b-ef2521ca3675=N2.Plugin.IPluginInitializer;none
f206cccd-5059-4ac6-947b-ef2521ca3675=System.Web.Mvc.IController;none
f206cccd-5059-4ac6-947b-ef2521ca3675=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
f206cccd-5059-4ac6-947b-ef2521ca3675=System.Object[N2.Plugin.IPlugin];none
