@backcolor: #302626;
@banner_background: lighten(@backcolor, 10%);
@navback: lighten(@backcolor, 10%);
@base_text_color: #00aa00;
@a_base: lighten(@base_text_color, 10%);
@navborder: darken(@backcolor, 50%);
@wrapper_background: darken(@backcolor, 10%);
