<section id="top" class="top">
    <div class="top-item"><a href="@Content.Traverse.StartPage.Url"><i class="fa fa-home"></i></a></div>
    <div class="top-item search">
        <input type="search" id="q" placeholder="Sök" /></div>
    <div class="top-item"><i class="fa fa-lock"></i></div>
    <div class="top-item jsvdate-section">
        <section class="jsvdate-date"></section>
        <section class="jsvdate-time"></section>
    </div>
</section>
