@import url('variables.less');
@import url("elements.less");
@import url("features.less");

.header {
    width: 100%;
    height: 120px;
    background: @header_back;

    .header-content {
        .wrapper-width;
        .center-horizontal;
    }

    h1 {
        text-align: center;
        margin-bottom: 1.0em;
    }
}

.top {
    .flexbox;
    .flex-flow(row, nowrap);
    .justify-content(flex-end);

    .top-item {
        margin-left: 0.5em;
    }

    .search {
        width: 10em;

        input {
            width: 100%;
        }
    }
}

.site-title {
    font-size: 1.8em;
    color: @title_color;
    font-weight: bold;
    margin-top: 6px;
    .flexbox;
    .flex-flow(row, nowrap);
    .justify-content(flex-start);
    .align-items(center);

    .logo {
        height: 75px;
        padding-right: 0.5em;

        &:hover {
/*            animation-name: smilla-animation;
            animation-duration: 3s; */
            transform: rotateY(360deg);
            transform-style: preserve-3d;
            transition: all 2s linear;
        }
    }
}

.wrapper {
    .wrapper-width;
    .center-horizontal;
    background: @wrapper_background;
}

.page {
    width: 100%;
}

.main {
    margin-top: 0.5em;
}

.banner {
    margin-top: 0.5em;
    background: @banner_background;
    height: 2.4em;
    .flexbox;
    .flex-flow(row, wrap);
    .justify-content(space-between);
}

.breadcrumb {
    text-align: center;
    padding-bottom: 1.5em;
    .breadcrumb-item {
        font-size: 80%;
    }

    .breadcrumb-separator {
        font-size: 60%;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.nooutline {
    outline: 0;
}

section {
    .big-boxes {
        .flexbox;
        .flex-flow(row, wrap);
        .justify-content(center);
        width: 90%;
        .center-horizontal;
    }

    .big-box {
        .flexbox;
        .flex-flow(row, nowrap);
        .justify-content(flex-start);
        background: #fff;
        height: 6em;
        border: solid medium #555555;
        border-radius: 0.7em;
        box-shadow: 0.1em 0.1em 0.1em 0.1em @box-shadow-color;
        margin: 1em 1em 1em 1em;
        overflow: hidden;
        width: 70%;

        &:hover {
            .bigbox-hover-animation(1.1, 1.1, 1s);
            box-shadow: 0.2em 0.3em @box-shadow-color;
        }

        .big-box-item {
        }

        .big-box-image {
            .flexbox;
            .flex-flow(row, nowrap);
            .justify-content(center);
            .align-items(stretch);
            width: 25%;

            img {
                width: 100%;
            }
        }

        .big-box-title {
            width: 75%;
            padding: 1em;

            h1 {
                font-size: 1.0em;
                font-weight: bold;
            }

            p {
                font-size: 0.7em;
            }
        }
    }
}

.ul.big-boxes {
    ul {
        li {
            list-style: none;
            float: left;
            width: 10em;
            height: 10em;
            border-radius: 0.7em;
            border: medium solid #227722;
            text-align: center;

            a {
                position: relative;
                top: 25%;
                font-size: 3em;
            }
        }
    }
}

.jsvdate-section {
    .flexbox;
    .flex-flow(row, nowrap);
    .justify-content(flex-end);

    section:first-child {
        padding-right: 0.2em;
    }

    section:last-child {
        width: 4em;
    }
}
