@import url('variables.less');

section {
    .big-box {
        height: 5em;
        max-width: 35%;
        min-width: 35%;
    }
}

.site-title {
    font-size: 3em;
    margin-left: 1.5em;
}

.weather {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    .temprature {
        margin-left: 2em;
        display: flex;

        .sensor-label {
            margin-right: 0.2em;
        }
    }
}
