@import url("variables.less");

.banner {
    height: 1.4em;
    flex-wrap: nowrap;
}

.wrapper {
    .center-width(90%);
    background: @wrapper_background;
}

section {
    .big-box {
        max-width: 35%;
        min-width: 35%;
    }
}


.weather {
    .flexbox;
    .justify-content(flex-start);
    .align-items(baseline);

    .temprature {
        margin-left: 2em;
        .flexbox;

        .sensor-label {
            margin-right: 0.2em;
        }
    }
}
