/* Mixins */
.my-box-shadow {
  box-shadow: 0.2em 0.2em 0.1em 0.1em #888888;
}
@media screen {
  .base_font-size {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1200px) {
  .base_font-size {
    font-size: 1.1em;
  }
}
@media screen {
  .wrapper-width {
    width: 98%;
  }
}
@media screen and (min-width: 721px) {
  .wrapper-width {
    width: 90%;
  }
}
.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: 'Oxygen', sans-serif;
  color: #222222;
  background: #c8f4c8;
}
@media screen {
  html {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 1.1em;
  }
}
div,
section,
header,
footer,
article {
  display: block;
}
hr {
  border-color: #28c828;
}
a {
  color: #222244;
  text-decoration: none;
}
a:visited {
  color: #222244;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}
h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
  font-weight: bold;
}
h4 {
  font-size: 1.1em;
  font-weight: bold;
}
ul {
  -webkit-margin-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
.expander {
  cursor: pointer;
}
.expander:after {
  content: " >>";
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.header {
  width: 100%;
  height: 120px;
  background: #44ee44;
}
.header .header-content {
  margin: 0 auto;
}
@media screen {
  .header .header-content {
    width: 98%;
  }
}
@media screen and (min-width: 721px) {
  .header .header-content {
    width: 90%;
  }
}
.header h1 {
  text-align: center;
  margin-bottom: 1.0em;
}
.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.top .top-item {
  margin-left: 0.5em;
}
.top .search {
  width: 10em;
}
.top .search input {
  width: 100%;
}
.site-title {
  font-size: 1.8em;
  color: #ffffff;
  font-weight: bold;
  margin-top: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.site-title .logo {
  height: 75px;
  padding-right: 0.5em;
}
.wrapper {
  margin: 0 auto;
  background: #c8f4c8;
}
@media screen {
  .wrapper {
    width: 98%;
  }
}
@media screen and (min-width: 721px) {
  .wrapper {
    width: 90%;
  }
}
.page {
  width: 100%;
}
.main {
  margin-top: 0.5em;
}
.banner {
  margin-top: 0.5em;
  background: #c8f4c8;
  height: 2.4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.breadcrumb {
  text-align: center;
  padding-bottom: 1.5em;
}
.breadcrumb .breadcrumb-item {
  font-size: 80%;
}
.breadcrumb .breadcrumb-separator {
  font-size: 60%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}
.nooutline {
  outline: 0;
}
section .big-boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
section .big-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background: #fff;
  height: 6em;
  border: solid medium #555555;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #888888;
  margin: 1em 1em 1em 1em;
  overflow: hidden;
  width: 70%;
}
section .big-box:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: transform 1s;
  transition: transform 1s;
  box-shadow: 0.2em 0.3em #888888;
}
section .big-box .big-box-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 25%;
}
section .big-box .big-box-image img {
  width: 100%;
}
section .big-box .big-box-title {
  width: 75%;
  padding: 1em;
}
section .big-box .big-box-title h1 {
  font-size: 1.0em;
  font-weight: bold;
}
section .big-box .big-box-title p {
  font-size: 0.7em;
}
.ul.big-boxes ul li {
  list-style: none;
  float: left;
  width: 10em;
  height: 10em;
  border-radius: 0.7em;
  border: medium solid #227722;
  text-align: center;
}
.ul.big-boxes ul li a {
  position: relative;
  top: 25%;
  font-size: 3em;
}
.jsvdate-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.jsvdate-section section:first-child {
  padding-right: 0.2em;
}
.jsvdate-section section:last-child {
  width: 4em;
}
@media screen and (min-width: 721px) and (max-width: 979px) {
  section .big-box {
    height: 5em;
    width: 45%;
  }
}
@media screen and (min-width: 980px) and (max-width: 1024px) {
  section .big-box {
    height: 5em;
    max-width: 35%;
    min-width: 35%;
  }
  .weather {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: baseline;
    align-items: baseline;
  }
  .weather .temprature {
    margin-left: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .weather .temprature .sensor-label {
    margin-right: 0.2em;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1151px) {
  section .big-box {
    max-width: 35%;
    min-width: 35%;
  }
  .site-title {
    font-size: 3em;
    color: #ffffff;
    font-weight: bold;
  }
  .weather {
    display: flex;
    justify-content: flex-start;
    -webkit-align-items: baseline;
    align-items: baseline;
  }
  .weather .temprature {
    margin-left: 2em;
    display: flex;
  }
  .weather .temprature .sensor-label {
    margin-right: 0.2em;
  }
}
@media screen and (min-width: 1152px) {
  .banner {
    height: 1.4em;
    flex-wrap: nowrap;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    background: #c8f4c8;
  }
  section .big-box {
    max-width: 35%;
    min-width: 35%;
  }
  .weather {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: baseline;
    align-items: baseline;
  }
  .weather .temprature {
    margin-left: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .weather .temprature .sensor-label {
    margin-right: 0.2em;
  }
}
.lightbulb-container {
  width: 12em;
}
.lightbulb-container input[type="checkbox"].lightbulb {
  display: none;
}
.lightbulb-container input[type="checkbox"].lightbulb + label {
  cursor: pointer;
  border-radius: 1em 1em 2em 2em;
  margin: 0;
  height: 2.5em;
  width: 100%;
  display: inline-block;
}
.lightbulb-container input[type="checkbox"].lightbulb + label {
  background: url('/Content/img/glodlampa_av.png') no-repeat;
  background-size: 2em 2em;
  background-position: 0 0;
}
.lightbulb-container input[type="checkbox"].lightbulb:checked + label {
  background: url('/Content/img/glodlampa.png') no-repeat;
  background-size: 2em 2em;
  background-position: 0 0;
}
.lightbulb-container input[type="checkbox"].lightbulb + label > span {
  margin-left: 1.5em;
  font-size: 1.5em;
}
.lightbulb-container input[type="checkbox"].lightbulb + label > span {
  color: #222222;
}
.weather {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.weather .temprature {
  margin-left: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.weather .temprature .sensor-label {
  margin-right: 0.2em;
}
.weather-box {
  background: #002400;
  /* Old browsers */
  background: -moz-linear-gradient(top, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #002400), color-stop(17%, #005700), color-stop(33%, #008a00), color-stop(67%, #52b152), color-stop(83%, #83c783), color-stop(100%, #b4ddb4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002400', endColorstr='#b4ddb4', GradientType=0);
  /* IE6-9 */
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  border-radius: 0.5em;
  margin-bottom: 1.0em;
}
.weather-box header {
  width: 100%;
  text-align: center;
}
.weather-box .temprature {
  padding: 0.3em;
  border-radius: 0.2em;
  margin: 0.3em;
  border: solid thin #ff6a00;
}
.weather-box .sensor-label {
  text-align: center;
  text-decoration: underline;
  font-size: small;
}
.weather-box .sensor-value {
  font-size: 3em;
}
.devices {
  background: #a9db80;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9db80), color-stop(100%, #96c56f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a9db80 0%, #96c56f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9db80', endColorstr='#96c56f', GradientType=0);
  /* IE6-9 */
  color: #222222;
  border-radius: 0.5em;
  margin-bottom: 1.0em;
  padding: 0.5em;
}
.devices header {
  width: 100%;
  text-align: center;
}
.devices .status-checkbox-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.devices .house-section {
  width: 9em;
  cursor: pointer;
}
.devices .house-section > img {
  width: 100%;
}
.w-forecast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: baseline;
  align-items: baseline;
  margin-left: 1em;
}
.w-forecast .forecast-caption {
  font-weight: bold;
  margin-right: 0.24em;
}
.w-forecast .forecast-hour-section {
  padding-left: 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.w-forecast .forecast-hour-section .forecast-time {
  margin-right: 0.2em;
}
.w-forecast .forecast-hour-section .forecast-temprature {
  margin-right: 0.2em;
}
.w-forecast .forecast-hour-section .forecast-temprature .forecast-hour-temprature:after {
  content: "\B0";
}
.w-forecast .forecast-hour-section .forecast-rainpercent {
  margin-right: 0.2em;
}
.w-forecast .forecast-hour-section .forecast-wind {
  margin-right: 0.2em;
}
@media screen and (max-width: 480px) {
  .w-forecast .f4,
  .w-forecast .f2,
  .w-forecast .f1 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .w-forecast .f4,
  .w-forecast .f2 {
    display: none;
  }
}
.detailed-forecast-is-nomore-here {
  background: url(/Content/img/cloud.png);
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  left: 800px;
  opacity: 0.9;
  box-shadow: 0.2em 0.2em #888888;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.site-title a {
  color: #ffffff;
  text-decoration: none;
}
.site-title a :hover {
  text-decoration: none;
}
