@backcolor: #ffffff;
@color: #222222;
@wrapper_background: @backcolor;
@banner_background: @backcolor;
@header_back: #44ee44;
 
@a_color: #222244;
@a_hover: darken(@a_color, 30%);

@hr_color: darken(@backcolor, 40%);