@using JSVLib.Extensions
@using n2www_famsvanstrom_se.Dinamico.Models
@using n2www_famsvanstrom.se.Web.Mvc.Html

@model DevicePageModel

<article class="article">
    <section class="status-checkbox-group">
        @foreach (var dev in Model.Devices) { 
            @Html.LightbulbCheckboxFor(b => dev.Status, new { @title = dev.Name, @id = "checkbox_" + dev.Id + "_" + dev.Name })
        }
    </section>
    <section class="house-section">
        <img class="house" src="@Url.ThemedContent("~/Content/img/hus.png")" alt="Klicka här för att skicka in status"
             title="Klicka här för att skicka in status" />
    </section>
</article>

@section scripts {

<script type="text/javascript">
    $(function () {
        console.log("Hej");
    });
    
</script>


}
