    <section class="house-section">
        <img class="house" src="@Url.Content("~/Content/img/hus.png")" alt="Klicka här för att skicka in status"
             title="Klicka här för att skicka in status" />
        <section><span>Skicka in ändringar</span></section>
    </section>
