<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="MyAuthEntities" connectionString="metadata=res://*/UserRepository.csdl|res://*/UserRepository.ssdl|res://*/UserRepository.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=105870_zx89971;password=Kaff3S1urk;Persist Security Info=True;database=105870-mainwebdb&quot;" providerName="System.Data.EntityClient" /><add name="WebdbModel" connectionString="metadata=res://*/UserRepository.csdl|res://*/UserRepository.ssdl|res://*/UserRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=web;persist security info=True;user id=webbe;password=webbe123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>