@model famsvanstrom.se.Models.Pages.SsnTestPage

@section main {
<h1>@Model.Title</h1>

<h2>Syns det här?</h2>    

    <a href="@Content.Traverse.StartPage.Url">Hem</a>    
}

@section scripts {
    
}
