@import url("myvars.less");
@import url("elements.less");
@import url("lightbulb.less");

.header {
    width: 95%;
    margin: 0 auto;
}

.page {
    width: 90%;
    margin: 0 auto;
    background: @wrapper_background;
}

.content {
    width: 65%;
}

.page-right-aside {
    width: 35%;
    float: right;
}

nav.top-navbar 
{
    border-bottom: thin solid @navborder;
    width: 100%;

    ul {
        
        li {
            list-style-type: none;
            display: inline-block;
            font-size: 1.4em;
            line-height: 2.5em;
            padding: 0.0em 0.6em 0em 0.6em;
            border-color: @navborder;
            border-style: solid;
            border-left-width: thin;
            border-right-width: thin;
            border-top-width: thin;
            border-bottom: none;
            border-radius: 0.4em 0.8em 0 0;
        }
        li:not(:first-child) {
            margin-left: 1em;
        }
        :hover {
            background:  lighten(@backcolor, 40%);
        }
    }
}

nav.submenu-navbar {
    line-height: 2em;
    background: lighten(@wrapper_background, 5%);

    ul {
        li {
            list-style-type: none;
            display: inline-block;
            font-size: 0.9em;
            padding: 0.0em 0.6em 0em 0.6em;
        }
        li.active {
            font-weight: bold;
            font-size: 1.1em;
            text-shadow: 0.03em 0.03em lighten(@a_base, 15%);
        }    

    }
}

.status-checkbox-group {
    width: 50%;
    display: inline-block;
}

.house-section {
    display:inline-block;
    cursor: pointer;
    width: 45%;
    > img {
        width: 50%;
    }
}

.nomargin { margin: 0;}
.nopadding { padding: 0; }
.nooutline { outline: 0; }
