@model Dinamico.Models.ContentPart
@using N2.Web.Mvc.Html
		   
@{ Content.Define(ie => 
	   {
		   ie.Title = "Vädret i Nättraby";
       }); }
       
<div id="c_67e09dcbb96c5c6316b3b1216928ff97" class="ancho"><h2 style="color: #000000; margin: 0 0 3px; padding: 2px; font: bold 13px/1.2 Verdana; text-align: center;">klart.se</h2></div><script type="text/javascript" src="http://www.klart.se/widget/widget_loader/67e09dcbb96c5c6316b3b1216928ff97"></script>
