@model famsvanstrom.se.Models.Partials.WeatherPartialModel

<section class="weather">
    <section class="indoor-temp"></section>
    <section class="outdoor-temp"></section>
    <section class="indoor-humdity"></section>
</section>