<nav id="navbar" class="top-navbar">
    @{ Html.RenderPartial("LayoutPartials/TopNavigation"); }
</nav>
<nav class="submenu-navbar">
    @{ Html.RenderPartial("LayoutPartials/SubNavigation"); }
</nav>
