@{
    ViewBag.Title = "Scroller";
}

<section id="canvasPH"></section>

@section scripts
{
    @Scripts.Render("~/Scripts/scroller/js")
}

@section css
{
    @Scripts.Render("~/Content/scroller/css")
}
