@{ Html.RenderPartial("LayoutPartials/Logotype"); }
<nav id="nav" role="navigation">
@{ Html.RenderPartial("LayoutPartials/TopNavigation"); }
@{ Html.RenderPartial("LayoutPartials/SubNavigation"); }
</nav>